# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Karen Etheridge <ether@cpan.org> Karen Etheridge <github@froods.org>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@bestpractical.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@gmail.com>
Сергей Романов <sromanov@cpan.org> <sromanov-dev@yandex.ru>
Thomas Sibley <tsibley@cpan.org> Thomas Sibley <tom@zulutango.org>
Thomas Sibley <tsibley@cpan.org> Thomas Sibley <trs@bestpractical.com>
Jesse Luehrs <doy@tozt.net> jluehrs2 <jluehrs2@uiuc.edu>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> Yuval Kogman <nothingmuch@woobling.org>
